.filter {
    display: flex;
    align-items: center;
    margin-left: 65px;
    gap: 16px;
}

.filter-buttons__list {
    /* TODO: ?*/
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.filter-button {
    /* TODO: зачем это? видела в нескольких блоках */
    height: inherit;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    /* TODO: разве не все что есть на старнице roboto, и необходимо значение по умолчанию */
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 18px;
    
}

.active {
    background-color: #292929;
    color: #fff;
}